amqp==5.4.0
asgiref==3.12.1
billiard==4.3.0
celery==5.6.3
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.4.0
Django==6.1.1
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
idna==3.20
kombu==5.6.2
packaging==26.3
pillow==12.3.0
prompt_toolkit==3.0.53
psycopg2-binary==2.9.13
PyJWT==2.14.0
python-dateutil==2.9.0.post0
python-decouple==3.8
redis==6.4.0
-e git+ssh://git@github.com/syed-anas-a/restaurant-microservices.git@8ce1499e793aa42c22dbc0e833617547cd530f71#egg=remote_auth&subdirectory=remote-auth
requests==2.34.2
rest-framework-simplejwt==0.0.2
six==1.17.0
sqlparse==0.6.0
typing_extensions==4.16.0
tzdata==2026.4
tzlocal==5.4.4
urllib3==2.8.0
vine==5.1.0
wcwidth==0.9.1
